.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f5f5f5;
  color: white;
  position: relative;
}

.header img {
  height: 50px;
}

.menu {
  display: flex;
  gap: 15px;
}

.link {
  text-decoration: none;
  color: black;
  font-size: large;
  font-weight: 600;
}

.menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 8px;
  }

  .menu.open {
    display: flex;
  }

  .menu-icon {
    display: block;
  }
}
